@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "PT Sans";
}

header{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: red;
    position: sticky;
    top: 0;
}

section{
    height: 100vh;
    
}

#principal{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
}

h2{
    font-size: 2rem;
    text-align: center;
}

.listaproyecto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.detallesproyecto{
    border: 5px solid lime;
    width: 300px;
    margin: 20px;
    border-radius: 15px;

}

.detallesproyecto img{
    width: 100%;
}

nav ul{
   display: flex;
   justify-content: center;
   list-style: none;
   

}

nav ul li{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;

}

.imagenmia{
    display: flex;
    justify-content: center;
    
}

.quiensoy{
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
}

footer{
    background-color: grey;
    padding-top: 35px;
    padding-bottom: 35px;
    position:sticky;
    top: 0;
    bottom: 0;
}

.imagenmia{
    width: 300px;
    margin: 20px;
    border-radius: 15px;
}